<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Developer skills</h1>
    <form>
      <div class="input-block">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" />
      </div>

      <div class="input-block">
        <label for="username">User</label>
        <input type="text" name="username" id="username" />
      </div>

      <div class="textarea-block">
        <label for="techs">Tecnologias</label>
        <textarea name="techs" id="techs" cols="30" rows="10"></textarea>
      </div>

      <button type="submit">Adicionar</button>
    </form>

    <main>
      <section>
        <div class="profile">
          <strong>Nome: </strong><a href="https://github.com/ltsaiete">Luis</a>
        </div>
        <div class="interest">
          <strong>Interesses: </strong>
          <span>Docker, Mongo</span>
        </div>
      </section>

      <section>
        <div class="profile">
          <strong>Nome: </strong><a href="https://github.com/ltsaiete">Luis</a>
        </div>
        <div class="interest">
          <strong>Interesses: </strong>
          <span>Docker, Mongo</span>
        </div>
      </section>

      <section>
        <div class="profile">
          <strong>Nome: </strong><a href="https://github.com/ltsaiete">Luis</a>
        </div>
        <div class="interest">
          <strong>Interesses: </strong>
          <span>Docker, Mongo</span>
        </div>
      </section>
    </main>
  </body>
</html>
